@font-face {
    font-family: 'Arizonia';
    src: url('/fonts/arizonia/subset-Arizonia-Regular.woff2') format('woff2'),
        url('/fonts/arizonia/subset-Arizonia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/subset-Ubuntu.woff2') format('woff2'),
        url('/fonts/ubuntu/subset-Ubuntu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/subset-Ubuntu-Light.woff2') format('woff2'),
        url('/fonts/ubuntu/subset-Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/subset-Ubuntu-Bold.woff2') format('woff2'),
        url('/fonts/ubuntu/subset-Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/subset-Ubuntu-LightItalic.woff2') format('woff2'),
        url('/fonts/ubuntu/subset-Ubuntu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/subset-Ubuntu-Medium.woff2') format('woff2'),
        url('/fonts/ubuntu/subset-Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/subset-Ubuntu-Italic.woff2') format('woff2'),
        url('/fonts/ubuntu/subset-Ubuntu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/subset-Ubuntu-BoldItalic.woff2') format('woff2'),
        url('/fonts/ubuntu/subset-Ubuntu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/subset-Ubuntu-MediumItalic.woff2') format('woff2'),
        url('/fonts/ubuntu/subset-Ubuntu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
:root{

    --MAIN-TEXT-color: #365264; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #365264; /* Color of titles h1-h2-h3-h4-h5 */
    --MAIN-LINK-color: #365264; /* Color of links */
    --MAIN-LINK-HOVER-color: #1e90ff ; /* Color of hovered links */
    --MAIN-ANCHOR-color: #365264; /* color of anchors on titles */

    --MENU-HEADER-BG-color: #1C90F3; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: white; /*Color of menu header border */

    --MENU-SECTIONS-ACTIVE-BG-color: transparent; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: transparent; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #365264; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #1e90ff ;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #1e90ff; /* Color of active category text */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    --font-family-sans-serif: Ubuntu;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
	font-family: "Ubuntu"
}
body {
    color: var(--MAIN-TEXT-color) !important;
    background-image: linear-gradient(0.15turn, #b0e2ff, #ffffd8
, #ffffb2);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}
.navbar-brand {
	font-family: "Arizonia";
  font-size: 2rem;
  font-weight: normal;
	line-height: 1.25;
	text-rendering: optimizeLegibility;

}
#navbar-content{
  font-family: "Ubuntu";
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6,{
  font-family: "Ubuntu";
    font-weight: 300;
    font-style: normal;
      color: var(--MAIN-TITLES-TEXT-color) !important;
}
.home-section:nth-of-type(even) {
    background-color: transparent;
}
.home-section {
    background-color: transparent;
}
.home-section:first-of-type {
    padding-top: 24px;
}
a {
    color: var(--MAIN-LINK-color);
    text-decoration: underline dotted;

}
a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}
.navbar-light .navbar-brand {
    color: var(--MAIN-TEXT-color) !important;text-decoration: none;
}
.navbar-light:hover .navbar-brand:hover{
    color: var(--MAIN-LINK-HOVER-color) !important;
}
#navbar-main .main-menu-item ul li .nav-link {
    text-decoration: none;
}
.navbar .navbar-nav .nav-link:link {
    font-weight: normal !important;
    color: var(--MAIN-LINK-color) !important;
}
.navbar .navbar-nav .nav-link:visited {
    font-weight: normal !important;
    color: var(--MAIN-LINK-color) !important;
}
.navbar .navbar-nav .nav-link:hover{
    font-weight: normal !important;
    color: var(--MAIN-LINK-HOVER-color) !important;
}
textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

.article-title a:link, .author-card a:link, .card-title a:link, .tag-cloud a:link, a:link.badge.badge-light {
    font-weight: normal !important;
    color: var(--MAIN-LINK-color) !important;
    text-decoration: none;
    background: none;
}
.article-title, .author-card a:visited, .card-title a:visited, .tag-cloud a:visited, a:visited.badge.badge-light  {
    font-weight: bold !important;
    color: var(--MAIN-LINK-color) !important;
    background: none;
}
.article-title, .author-card a:hover, .card-title a:hover, .tag-cloud a:hover, a:hover.badge.badge-light  {
    font-weight: bold !important;
    color: var(--MAIN-LINK-HOVER-color) !important;

}
.author-card .card-title a {
    color: rgba(0, 0, 0, 0.84);
}
a:link.badge.badge-light{
  background: none;
}
a:visited.badge.badge-light{
  background: none;
}
a:hover.badge.badge-light{
  background: none;
}
.article-title a {
    color: var(--MENU-SECTIONS-LINK-color);
    transition: color 0.6s ease;
}
h3.article-title a:link {
    color: var(--MENU-SECTIONS-LINK-color) !important;
    text-decoration: none;
    transition: color 0.6s ease;
}
h3.article-title a:visited {
    color: var(--MENU-SECTIONS-LINK-color) !important;
    text-decoration: none;
    transition: color 0.6s ease;
}
h3.article-title a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color) !important;
    text-decoration: none;
    transition: color 0.6s ease;
}
.fa-chevron-up:before, .fa-bars:before{
      color: var(--MENU-SECTIONS-LINK-color) !important;
}
.article{padding-left: 0px;
    background-image: url("");
  background-repeat: repeat-y;
}
.cta-btns .btn{display: none;}
.pl-4, .px-4 {
	padding-left: 0px !important;
}
hr {
  width: 60%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, #1C90F3, #365264, #1C90F3);
}
.logo-navbar{
  float: left;
  margin-right: 0.4em;
}
.logo-page{
  float: left;
  margin-right: 0.4em;
  width: 51px;
}
b, strong {
	font-weight: 600;
}
.fa-angle-right{display: none;}
a.nav-link.dropdown-toggle {text-decoration: none;}
.dropdown-item{text-decoration: none;}
.docs-search { border-bottom: none;}
.article-style{
  background-image: url("/img/icon-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
.stream-item .article-style{
  background-image: none;
}
.universal-wrapper .article-style{
  background-image: none;
}
.featured-image {
	border: solid 1px #d4d4d4;
}
.article-metadata{
  display: none;
}
.middot-divider {
  display: none;
}
.post-meta{
    font-size: 0.7em;
    font-weight: normal;
    color: #365264;
}
