{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    {{ $link := .RelPermalink }}
    {{ $target := "" }}
    {{ with .Params.external_link }}
      {{ $link = . }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}

    <div>
      <h2>
        <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ .Title }}</a>
      </h2>

      {{/* Author link(s) + date + read time */}}
      <p class="post-meta">
        {{ i18n "postedBy" | default "By" }}
        {{ $first := true }}
        {{ with .Params.authors }}
          {{ range . }}
            {{ $authorID := . }}
            {{ with site.GetPage (printf "authors/%s" (urlize $authorID)) }}
              {{ if not $first }}, {{ end }}
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              {{ $first = false }}
            {{ end }}
          {{ end }}
        {{ end }}
        <span class="middot-divider">·</span>
        {{ .Date.Format "2006-01-02" }}
        <span class="middot-divider">·</span>
        {{ .ReadingTime }} min{{ if ne .ReadingTime 1 }}s{{ end }}
      </p>

      <div class="article-style">
        {{ if .Params.summary }}
          {{ .Params.summary | plainify | emojify }}
        {{ else if .Params.abstract }}
          {{ .Params.abstract | plainify | emojify | truncate 250 }}
        {{ else if .Summary }}
          {{ .Summary | plainify | emojify }}
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
